---
// Redirect to Spanish version
---

<meta http-equiv="refresh" content="0;url=/symposium-cbs/es/" />

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Redirigiendo...</title>
</head>
<body>
    <p>Redirigiendo al sitio...</p>
</body>
</html>
